<div class="row no-margin">
    <div class="col-lg-2">
        <select ng-model="currentAccount" ng-options="sale.email for sale in sales_accounts"
                ng-change="change_currentAccount(currentAccount)"></select>
      <input type="button" ng-model="createTempOrder" value="Tạo Phiếu"
             ng-click="createTempOrder()"/>
    </div>

    <div class="col-lg-3">

      <input type="text" ng-model="currentLabel" typeahead="ps.fullSearch for ps in product_summaries | filter:$viewValue | limitTo:8"
             typeahead-on-select="productSummaryChange($item, $model, $label)" />



      <!--<select ng-model="currentProduct" ng-change="change_product_summary(currentProduct)"-->
              <!--ng-init="currentProduct = currentProduct || product_summaries[-1]"-->
              <!--ng-options="currentProduct.name for (index ,currentProduct) in product_summaries">-->
          <!--<option value="">-- chọn sản phẩm --</option>-->
      <!--</select>-->
      <input ng-model="currentProduct" type="button" value="Thêm(reset)"
             ng-click="addProductSummary(currentProduct,true)" ng-disabled="currentProduct == null"/>
      <input ng-model="currentProduct" type="button" value="Thêm(next)"
             ng-click="addProductSummary(currentProduct,false)" ng-disabled="currentProduct == null"/>
    </div>
  <!--ng-change="change_product_summary_sale_quality(currentProduct)"-->
    <div class="col-lg-6">
        <input ng-model="tempOrderDetail.quality" type="number" min="0"
               ng-disabled="currentProduct == null"
               ng-change="change_tempOrderDetail_quality(tempOrderDetail)">

        <input ng-disabled="true" value='{{currentProduct.name}} - {{currentProduct.productCode}}'>
        <input ng-disabled="true" value='SL:{{currentProduct.quality}} - {{currentProduct.price | currency}}'>

    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="row no-margin">
    <div class="col-lg-2">
        <select ng-model="currentCustomer" ng-change="change_currentCustomer(currentCustomer)"
                ng-init="currentCustomer = currentCustomer"
                ng-options="currentCustomer.name for currentCustomer in customers">
        </select>
    </div>
    <div class="col-lg-10">
        GiảmGiá%
        <input ng-model="tempOrderDetail.discount_percent" type="number" step="5"
               ng-disabled="currentProduct == null"
               ng-change="change_product_summary_discount_percent(currentProduct)"
               value="{{currentProduct.discount_percent}}">
        Tiền Mặt
        <input ng-model="tempOrderDetail.discount_cash" type="number" step="100"
               ng-disabled="currentProduct == null"
               ng-change="change_product_summary_discount_cash(currentProduct)"
               value="{{currentProduct.discount_cash}}">
        Tạm Tính
        <input ng-model="tempOrderDetail.total_price" type="number" ng-disabled="true">
        Tổng Tiền
        <input ng-model="tempOrderDetail.final_price" type="number" ng-disabled="true">
    </div>
</div>
<div class="row no-margin">
    <table class="table table-condensed table-hover">
        <thead>
        <th>ID</th>
        <th>Mã Kho</th>
        <th>Skull</th>
        <th>BarCode</th>
        <th>Tên</th>
        <th>Giá</th>
        <th>Số Lượng</th>
        <th>Số Lượng Mua</th>
        <th>Giảm Giá %</th>
        <th>Giảm Giá Tiền Mặt</th>
        <th>Tổng Tiền</th>

        </thead>
        <tr ng-repeat="item in productList.buy_product_list | orderBy:'price'">
            <td>{{item.id}}</td>
            <td>{{item.warehouseId}}</td>
            <td>{{item.skullId}}</td>
            <td>{{item.productCode}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.quality}}</td>
            <td>{{item.sale_quality}}</td>
            <td>{{item.discount_percent}}</td>
            <td>{{item.discount_cash}}</td>
            <td>{{item.final_price}}</td>
            <td><input type="button" value="X" ng-click="removeProductSummary(item, $index)"></td>
        </tr>
    </table>
</div>
<br/>
<div class="row no-margin">
    <div class="col-lg-2">
        Phương Thức VC:
        <select ng-model="delivery"
                ng-init="delivery = delivery || transports[0]"
                ng-change="change_current_delivery(delivery)"
                ng-options="delivery.name for delivery in transports">
        </select>
    </div>
    <div class="col-lg-3">
        Giảm Giá Voucher <input ng-model="productList.order_summary.voucher" numbers-only
                               ng-change="change_order_summary_voucher(productList.order_summary.voucher)"
                               ng-disabled="disable_voucher()"
                               ng-init="productList.order_summary.voucher = 0"/>

    </div>

    <div class="col-lg-2">
        Tiền Thu Vào
        <input numbers-only ng-model="productList.order_summary.money"
               ng-disabled="productList.enable_input_bill"
               ng-keydown=""
               ng-min="15000"
               ng-mouseleave="change_order_summary_money(productList.order_summary.money)"
               ng-change=""/>
    </div>
    <div class="col-lg-2">
        Tiền Thối Lại <input ng-model="productList.order_summary.money1"
                             ng-disabled="true"/>
    </div>
    <div class="col-lg-2">
        Tạm Tính <input ng-model="productList.order_summary.total_price" ng-disabled="true"
                        ng-init="productList.order_summary.total_price = 0"/>
    </div>
</div>
<div class="row no-margin">
    <div class="col-lg-2">
        Cách Thanh Toán:
        <select ng-model="payment_method"
                ng-init="payment_method = payment_method || payment_methods[0]"
                ng-change="change_current_payment_method(payment_method)"
                ng-options="payment_method.name for payment_method in payment_methods">
        </select>
    </div>
    <div class="col-lg-3">
        Giảm Giá Tiền Theo Tổng Bill :
        <input type="checkbox" ng-model="productList.order_summary.bill_discount" ng-disabled="productList.enable_input_bill" />
        <input ng-model="productList" type="button" value="Hoàn Tất"
               ng-disabled="productList.enable_input_bill"
               ng-click="finishProductSummary(productList)" />

    </div>
    <div class="col-lg-2">
        Giảm Giá %<input ng-model="productList.order_summary.discount_percent_bill" type="number"
                         ng-change="change_order_summary_bill_discount_percent(productList.order_summary.discount_percent_bill)"
                         ng-disabled="!productList.order_summary.bill_discount"/>
    </div>
    <div class="col-lg-2">
        Giảm Giá TM <input ng-model="productList.order_summary.discount_cash" type="number" step="{{productList.order_summary.temp_final_price/100}}"
                           ng-change="change_order_summary_bill_discount_cash(productList.order_summary.discount_cash)"
                           ng-disabled="!productList.order_summary.bill_discount"/>
    </div>
    <div class="col-lg-2">
        Tổng Tiền <input ng-model="productList.order_summary.final_price" ng-disabled="true"
                         ng-change="productList.order_summary.money1 = productList.order_summary.money - productList.order_summary.temp_final_price"
                         ng-init="productList.order_summary.final_price = 0" />
    </div>
  {{tempOrderDetail}}
</div>




