<tabset>
    <tab ng-repeat="temp in tempOrderTabs" active="temp.active" select="select_order(temp)">
        <tab-heading>
            {{temp.name}} <i class="glyphicon glyphicon-bell"></i>
        </tab-heading>
        <div class="row no-margin">
            <div class="col-lg-2">
                <select ng-model="currentAccount" ng-options="sale.email for sale in sales_accounts"
                        ng-change="change_currentAccount(currentAccount)"></select>
            </div>
            <div class="col-lg-3">
                <input type="text" ng-model="currentLabel" typeahead="ps.fullSearch for ps in product_summaries | filter:$viewValue | limitTo:8"
                       typeahead-on-select="productSummaryChange($item, $model, $label)" />
                <input ng-model="currentProduct" type="button" value="Thêm(next)"
                       ng-click="addProductSummary(tempOrderDetail)" ng-disabled="currentProduct == null"/>
            </div>
            <div class="col-lg-6">
                <input ng-model="tempOrderDetail.quality" type="number" min="0" ng-disabled="currentProduct == null"
                       ng-change="change_tempOrderDetail_quality(tempOrderDetail)">
                <input ng-disabled="true" value='{{currentProduct.name}} - {{currentProduct.productCode}}'>
                <input ng-disabled="true" value='SL:{{currentProduct.quality}} - {{currentProduct.price | currency}}'>

            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="row no-margin">
            <div class="col-lg-2">
                <select ng-model="currentCustomer" ng-change="change_currentCustomer(currentCustomer)"
                        ng-options="currentCustomer.name for currentCustomer in customers"></select>
                <input ng-model="currentProduct" type="button" value="Thêm" ng-click="addNewTab()">
                <input ng-model="currentProduct" type="button" value="Xóa" ng-click="removeTab()">
            </div>
            <div class="col-lg-10">
                GiảmGiá%
                <input ng-model="tempOrderDetail.discount_percent" type="number" step="5"
                       ng-disabled="currentProduct == null"
                       ng-change="change_tempOrderDetail_discount_percent(tempOrderDetail)">
                Tiền Mặt
                <input ng-model="tempOrderDetail.discount_cash" min="0" type="number" step="100"
                       ng-disabled="currentProduct == null"
                       ng-change="change_tempOrderDetail_discount_cash(tempOrderDetail)">
                Tạm Tính
                <input ng-model="tempOrderDetail.total_price" type="number" ng-disabled="true">
                Tổng Tiền
                <input ng-model="tempOrderDetail.total_amount" type="number" ng-disabled="true">
            </div>
        </div>
        <div class="row no-margin">
            <table class="table table-condensed table-hover">
                <thead>
                <th>BarCode</th>
                <th>Skull</th>
                <th>Giá</th>
                <th>Số Lượng Mua</th>
                <th>Giảm Giá %</th>
                <th>Giảm Giá Tiền Mặt</th>
                <th>Tổng Tiền</th>

                </thead>
                <tr ng-repeat="item in tempOrderDetails | orderBy:'price'">
                    <td>{{item.productCode}}</td>
                    <td>{{item.skullId}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.quality}}</td>
                    <td>{{item.discountPercent}}</td>
                    <td>{{item.discountCash}}</td>
                    <td>{{item.totalAmount}}</td>
                    <td><input type="button" value="X" ng-click="removeProductSummary(item, $index)"></td>
                </tr>
            </table>
        </div>
        <br/>
        <div class="row no-margin">
            <div class="col-lg-2">
                Phương Thức VC:
                <select ng-model="delivery"
                        ng-init="delivery = delivery || transports[0]"
                        ng-change="change_current_delivery(delivery)"
                        ng-options="delivery.name for delivery in transports">
                </select>
            </div>
            <div class="col-lg-3">
                Giảm Giá Voucher <input ng-model="tempOrder.discountVoucher" ng-disabled="change_bill_discount()"
                                        ng-change="change_tempOrder_discountVoucher(tempOrder.discountVoucher)"/>

            </div>

            <div class="col-lg-2">
                Tiền Thu Vào
                <input numbers-only ng-model="tempOrder.payment"
                       ng-disabled="tempOrderDetails[0] == null">
            </div>
            <div class="col-lg-2">
                Tiền Thối Lại <input ng-model="tempOrder.money_balance"
                                     ng-disabled="true"/>
            </div>
            <div class="col-lg-2">
                Tạm Tính <input ng-model="tempOrder.totalPrice" ng-disabled="true"/>
            </div>
        </div>
        <div class="row no-margin">
            <div class="col-lg-2">
                Cách Thanh Toán:
                <select ng-model="payment_method" ng-init="payment_method = payment_method || payment_methods[0]"
                        ng-change="change_current_payment_method(payment_method)"
                        ng-options="payment_method.name for payment_method in payment_methods">
                </select>
            </div>
            <div class="col-lg-3">
                Giảm Giá Tiền Theo Tổng Bill :
                <input type="checkbox" ng-model="tempOrder.billDiscount" ng-disabled="tempOrderDetails[0] == null"
                       ng-change="change_cheked_bill(tempOrder.billDiscount)"/>

                <input ng-model="productList" type="button" value="Hoàn Tất" ng-disabled="tempOrderDetails[0] == null" />

            </div>
            <div class="col-lg-2">
                Giảm Giá %<input ng-model="tempOrder.discountPercent" type="number" ng-disabled="!tempOrder.billDiscount"
                                 ng-change="change_tempOrder_discount_percent(tempOrder)"/>
            </div>
            <div class="col-lg-2">
                Giảm Giá TM <input ng-model="tempOrder.discountCash" type="number" ng-disabled="!tempOrder.billDiscount"
                                   ng-change="change_tempOrder_discount_cash(tempOrder)"/>
            </div>
            <div class="col-lg-2">
                Tổng Tiền <input ng-model="tempOrder.finalPrice" ng-disabled="true"/>
            </div>
        </div>

        <br>
        <br>

        tempOrderDetails{{tempOrderDetails}}


    </tab>

</tabset>






