@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "theme";
@import "variables";
@import "mixins";
@import "components";

a { text-decoration: none !important; }

body {
//  @include center-gradial(#dad9d9, 100%);
}

header {
  position: fixed;
  z-index: 1001;
  display: block;
  top: 0; right: 0; left: 0;

  .logo {
    float: left;
    width: $left-pane;
    height: 50px;
    color: #fff;
    font-size: 20px;
  }

  .navbar{
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    margin-left: $left-pane;
    margin-bottom: 0;
    i, a {
      color: #5e5e5e;
    }
  }

  .search-form {
    .search-box { width: 400px !important; }
  }
}

.wrapper {
  width: 100%;
}

.left-side, .right-side {
  padding-top: 51px;
  display: block;
}

.left-side {
  position: fixed;
  background: #253646;
  width: $left-pane;
  box-shadow: inset 4px 0 0 0 #191919;
  min-height: 100%;
}

.right-side {
  margin-left: $left-pane;
  .main {

  }
}

.sidebar-menu {
  a {
    font-size: 14px;
    color: #bdcfe0;
  }
  list-style: none;
  margin: 0; padding: 0;
  > li {
    margin: 0; padding: 0;
    > a {
      text-transform: uppercase;
      padding: 13px 15px;
      display: block;
      > i { width: 20px; }
    }
    &.active > a, &:hover > a {
      color: #f6f6f6;
      background: rgba(0,0,0,0.1);
    }
    &.active > a { box-shadow: inset 4px 0 0 0 #f0ad4e; }
  }
}

.no-padding {padding: 0;}