//Fonts--------------------------------------------------------------->
$font-main: 'Open Sans',sans-serif;

//Colors-------------------------------------------------------------->
$green: #393;           //1
$light-green: #1CBB9B;  //2
$yellow: #ffc40d;       //3
$orange: #f39c12;       //4
$blue: #2e8bcc;         //5
$dark-blue: #374961;    //6
$lime: #8cbf26;         //7
$pink: #e671b8;         //8
$red: #e51400;          //9
$purple: #7b4f9d;       //10
$dark: #454442;         //11
$gray: #999999;         //12
$magenta: #ff0097;      //13
$teal: #00aba9;         //14
$turquoise: #1abc9c;
$green-sea: #16a085;
$emeral: #2ecc71;
$nephritis: #2E8BCF;
$peter-river: #3498db;
$belize-hole: #2980b9;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;
$sun-flower: #f1c40f;
$carrot: #e67e22;
$pumpkin: #d35400;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;

$tone-main: #AEC785;
$tone-dark: #A0B87E;
$element-main: #1FB5AC;
$background-default: #202020;
$background-login: #32323A;
$darken-amount: 5;
$navigation-color: $dark;
$navigation-color-bright: lighten($navigation-color, 10);
$navigation-color-dark: darken($navigation-color, 10);

$component-theme: $orange;

//navigator
$navigator-background: $dark;
$navigator-background-reserve: #666;
$navigator-font: lighten($navigator-background, 50%);
$navigator-font-reserve: darken($navigator-background-reserve, 50%);

//Sizes--------------------------------------------------------------->
//paddings
$application-padding: 3px;
$tile-caption-padding: 5px;

$tile-size: 80px;
$tile-space: 5px;
$tile-group-space: 0;
$menu-size: 80px;

//Radiuses------------------------------------------------------------>
$tile-radius: 2px;
$tile-radius-phone: 1px;


