//Fonts--------------------------------------------------------------->
$font-main: 'Open Sans', sans-serif;

//Colors-------------------------------------------------------------->
//$colors: green #393, 'light-green' #1CBB9B, teal #00aba9, 'peter-river' #3498db, carrot #e67e22;
//, yellow, orange, blue, 'dark-blue', lime, pink, red, purple, 'dark', gray, magenta, teal, turquoise, 'green-sea', emeral, nephritis, 'peter-river', amethyst, wisteria, 'wet-asphalt', 'midnight-blue', 'sun-flower', carrot, pumpkin, alizarin, pomegranate, clouds, silver, concrete, asbestos;
$colors: "green" #309030, "light-green" #1CBB9B, "yellow" #ffc40d, "orange" #f39c12, "blue" #2e8bcc, "dark-blue" #374961, "lime" #8cbf26, "pink" #e671b8, "red" #e51400, "purple" #7b4f9d, "dark" #454442, "gray" #999999, "magenta" #ff0097, "teal" #00aba9, "turquoise" #1abc9c, "green-sea" #16a085, "emeral" #2ecc71, "nephritis" #2E8BCF, "peter-river" #3498db, "belize-hole" #2980b9, "amethyst" #9b59b6, "wisteria" #8e44ad, "wet-asphalt" #34495e, "midnight-blue" #2c3e50, "sun-flower" #f1c40f, "carrot" #e67e22, "pumpkin" #d35400, "alizarin" #e74c3c, "pomegranate" #c0392b, "clouds" #ecf0f1, "silver" #bdc3c7, "concrete" #95a5a6, "asbestos" #7f8c8d;
@each $color in $colors {
  .color-#{nth($color, 1)} {
    color: nth($color, 2);
  }
}

$green: #393;
$light-green: #1CBB9B;
$yellow: #ffc40d;
$orange: #f39c12;
$blue: #2e8bcc;
$dark-blue: #374961;
$lime: #8cbf26;
$pink: #e671b8;
$red: #e51400;
$purple: #7b4f9d;
$dark: #454442;
$gray: #999999;
$magenta: #ff0097;
$teal: #00aba9;
$turquoise: #1abc9c;
$green-sea: #16a085;
$emeral: #2ecc71;
$nephritis: #2E8BCF;
$peter-river: #3498db;
$belize-hole: #2980b9;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;
$sun-flower: #f1c40f;
$carrot: #e67e22;
$pumpkin: #d35400;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;

$tone-main: #AEC785;
$tone-dark: #A0B87E;
$element-main: #1FB5AC;
$background-default: #202020;
$background-login: #32323A;
$darken-amount: 5;
$navigation-color: $dark;
$navigation-color-bright: lighten($navigation-color, 10);
$navigation-color-dark: darken($navigation-color, 10);

$component-theme: $orange;

//navigator
$navigator-background: $dark;
$navigator-background-reserve: #666;
$navigator-font: lighten($navigator-background, 50%);
$navigator-font-reserve: darken($navigator-background-reserve, 50%);