//Sizes--------------------------------------------------------------->
$left-pane: 210px;
$left-pane-collapsed: 50px;

//paddings
$application-padding: 3px;
$tile-caption-padding: 5px;

$tile-size: 80px;
$tile-space: 5px;
$tile-group-space: 0;
$menu-size: 80px;

//Radiuses------------------------------------------------------------>
$tile-radius: 2px;
$tile-radius-phone: 1px;
