<div class="wrapper">
  <div class="left-side">
    <ul class="sidebar-menu">
      <li class="active">
        <a href="">
          <i class="fa fa-home"></i>
          <span>Tổng quan</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-envelope"></i>
          <span>Bán hàng</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-cubes"></i>
          <span>Kiểm kho</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="right-side" ng-view>
  </div>
</div>