<div class="container">
  <div class="row">
    <div class="col-md-1 no-padding" ng-show="{{application.showMenu}}">
      <div ng-repeat-start="color in ['orange','lime', 'red', 'green', 'blue']">
        <div class="{{color}} menu tile"></div>
      </div>
      <div ng-repeat-end></div>

    </div>
    <div class="app-content col-md-11" ng-view></div>
  </div>
</div>