<header ng-controller="headerCtrl as header">
  <nav class="application-navigation navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <ul class="nav navbar-nav" ng-repeat="item in application.navs">
        <li><a href="#{{item.url}}">{{item.title}}</a></li>
      </ul>
    </div>
  </nav>
</header>