<header ng-controller="headerCtrl as header">
  <a href="#" class="logo">
    EDS
  </a>
  <nav class="navbar navbar-static-top" role="navigation">
    <a href="" class="navbar-brand sidebar-toggle">
      <i class="fa fa-bars"></i>
    </a>

    <div class="navbar-form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="tìm kiếm">
      </div>
    </div>

    <ul class="nav navbar-nav" ng-repeat="item in application.navs">
      <li><a href="#{{item.url}}">{{item.title}}</a></li>
    </ul>
  </nav>
</header>