<header ng-controller="headerCtrl as header">
  <a href="#" class="logo">
    EDS
  </a>
  <nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="navbar-brand sidebar-toggle">
      <i class="fa fa-align-justify" tooltip-placement="left" tooltip="phóng to"></i>
    </a>

    <div class="navbar-form navbar-left search-form" role="search">
      <div class="input-group">
        <input type="text" class="form-control search-box" placeholder="tìm sản phẩm, nhân sự, tổ chức...">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </div>

    <ul class="nav navbar-nav" ng-repeat="item in application.navs">
      <li><a href="#{{item.url}}">{{item.title}}</a></li>
    </ul>

    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li></li>
      </ul>
    </div>
  </nav>
</header>